body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: #F5F5F5;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
.center-captcha {
    width: 305px;
    margin: 5px auto;
    padding-bottom: 10px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.info{
  padding-bottom: 100px;
}

.p300x250{
  width: 300px;
  height: 250px;
  margin: auto;
}
.p120x90{
  width: 120px;
  height: 90px;
  margin: auto;
}
.p320x60{
  width: 320px;
  height: 60px;
}

.p728x90{
  width: 728px;
  height: 90px;
  margin: auto;
}
.logo{
  width:150px !important;
}

.page-header {
    padding-bottom: 9px;
    margin: 50px 0 20px;
    border-bottom: 1px solid #eee;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #fff;
}
.panel-danger {
    border-color: #e9e9e9;
}
.box-danger {
    border-top: 3px solid #0a8892;
}

.panel-body {
    padding: 15px;
}

.text-center {
    text-align: center;
}

.titu {
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.4;
}


hr {
    border-color: #0a8892;
    border-width: 3px;
    max-width: 50px;
}

.bton-link{
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}



@media(min-width:768px){

}
